Repository weber/ksa-typescript-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, eslint --cache --fix

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js,jsx,css,scss,sass,less,md}": [
    "git add"
  ],
  "src/**/*.{ts,tsx}": [
    "npm run lint:fix",
    "git add"
  ],
  "*.ts": "eslint --cache --fix"
}

chore(my-class): добавляет myClass - пример
  .eslintcache
  .eslintrc.js
  app-test/android-chrome-192x192.png
  app-test/android-chrome-512x512.png
  app-test/apple-touch-icon.png
  app-test/favicon-16x16.png
  app-test/favicon-32x32.png
  app-test/favicon.ico
  app-test/main.ts
  app-test/site.webmanifest
  config/jest.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix

chore(settings): настройка выходных файлов после сборке
  .eslintrc.js
  app-test/common.css
  app-test/index.html
  app-test/main.d.ts
  app-test/main.d.ts.map
  app-test/main.js
  app-test/main.js.map
  app-test/main.ts
  config/commitlint.config.js
  config/helpers.js
  config/jest.config.js
  config/rollup.config.js
  config/webpack.config.js
  package.json
  pnpm-lock.yaml
  scripts/copy.js
  src/environment.js
  src/index.js
  src/index.ts
  src/types.js
  tsconfig.production.json
Due: npm run lint:fix, eslint --cache --fix

chore(settings): добляет настройки сборки eslint
  .eslintrc.js
  app-test/main.d.ts
  app-test/main.d.ts.map
  app-test/main.js
  app-test/main.js.map
  app-test/main.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/environment.js
  src/index.js
  src/index.ts
  src/types.js
  tsconfig.json
Due: npm run lint:fix, eslint --cache --fix

chore: 🤖 settings
  .yarnrc
  yarn.lock
Due: none

chore: settings
  package-lock.json
  package.json
Due: none

chore(settings): обовление настроек
  .prettierignore
  app-test/main.ts
  config/jest.config.js
  config/rollup.config.js
  config/webpack.config.js
  package-lock.json
  package.json
  public/index.html
  public/index.js
  src/assets/common.css
  src/style.scss
Due: eslint --cache --fix

chore: 🤖 настройка webpack
  config/webpack.config.js
  package-lock.json
  package.json
Due: none

chore: 🤖 update package
  package-lock.json
  package.json
Due: none

chore(script-tools): Обновляет скрипты инициализации
  .gitattributes
  tools/gh-pages-publish.ts
  tools/init.ts
  tools/semantic-release-prepare.ts
Due: eslint --cache --fix

chore(package): update package
  package.json
Due: none

main.ts
  app-test/main.ts
Due: eslint --cache --fix

chore: 🤖 change gitignore
  .gitignore
  exports/lib/MyClass.json
  src/lib/my-class.spec.ts
  src/lib/my-class.ts
Due: npm run lint:fix, eslint --cache --fix

chore: 🤖 очистка файлов примеров
  .travis.yml
  README.md
  app-test/main.ts
  exports/globalFunctions.json
  exports/lib/MyClass.json
  src/lib/my-class.spec.ts
  src/lib/my-class.ts
Due: npm run lint:fix, eslint --cache --fix

chore: 🤖 Добавляет правла eslint - etc, rxjs
  .eslintrc.js
  package-lock.json
  package.json
Due: none

chore: 🤖 configuration jest
  .editorconfig
  .eslintrc.js
  app-test/main.ts
  config/global.d.ts
  config/jest.config.js
  config/setup-tests.js
  config/testSetup.ts
  config/tsconfig.json
  config/types.d.ts
  package-lock.json
  package.json
  src/global.d.ts
  src/lib/my-class.spec.ts
  src/lib/my-class.ts
  tsconfig.json
  tsconfig.production.json
Due: npm run lint:fix, eslint --cache --fix

chore: 🤖 update config, update package
  .husky/.gitignore
  .husky/pre-commit
  package-lock.json
  package.json
  tsconfig.json
Due: none

chore: 🤖 обновляет .gitignore
  .gitignore
Due: none

chore: 🤖 remove scss
  .eslintrc.js
  config/webpack.config.js
  exports/lib/MyClass.json
  package-lock.json
  package.json
Due: none
